@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=IBM+Plex+Sans:wght@300;400;700&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://fonts.cdnfonts.com/s/17494/JetBrainsMono-Regular.woff2')
    format('woff2');
}
body {
  background-color: #0d1117;
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-size: 18px;
}
* {
  color: white;
}
h1,
h2,
h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
}

.code,
pre {
  margin: 0;
  font-family: 'Fira Code', monospace;
  line-height: 1.6;
}

.url {
  font-family: 'JetBrains Mono', monospace;
}
