.category h3 {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 4px;
}

.item {
  margin: 8px 0 8px 16px;
  padding-top: 8px;
  padding: 8px 0 8px 16px;
  border-left: 4px solid #007bff;
  border-radius: 4px;
  background-color: #282c34;
  color: #ffffff;
  list-style: none;
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.detail {
  color: #b0b0b0;
}

.response-formated-container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
}

.studies {
  flex-direction: row;
  justify-content: space-between;
}

.umss {
  height: 250px;
  width: auto;
  background-color: white;
  border-radius: 4px;
}
.university-info {
  display: grid;
  align-items: center;
}

.work-responsibilities {
  padding-left: 20px;
}

.work-task {
  list-style: disc;
}

.project-link a {
  color: #007bff;
  text-decoration: none;
}

.project-link a:hover {
  text-decoration: underline;
}

.project {
  display: grid;
  gap: 8px;
}
ul {
  padding: 0;
}
@media (max-width: 768px) {
  .umss {
    height: 150px;
  }
  .studies {
    flex-direction: column;
    align-items: center;
  }
  .item {
    overflow-x: auto;
    white-space: nowrap;
    padding-right: 8px;
    padding-left: 8px;
    padding: 4px 8px 4px 8px;
    margin-left: 8px;
  }
  .name {
    font-size: 14px;
  }
  ul {
    margin: 6px 0 6px 0;
  }
}
