.post {
  background-color: #49cc90;
}
.textarea-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.json {
  width: 60%;
  margin-top: 16px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #30363d;
  background-color: #1e1e1e;
  resize: none;
}

.input {
  height: 86px;
}

.response {
  height: 140px;
  margin-top: 0;
}
.error-message {
  color: red;
  font-weight: 600;
}
.success-message {
  margin-top: 8px;
  color: #49cc90;
}
@media (max-width: 768px) {
  .textarea-container {
    margin-top: 8px;
  }
  .json {
    margin-top: 0;
    padding: 8px;
    width: 95%;
    font-size: 12px;
  }
  .error-message,
  .success-message {
    font-size: 12px;
    margin-top: 8px;
  }
}
